@import './color.postcss';
@import './md.postcss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

#app {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  overflow: overlay;
  background-color: var(--liam-bg);
  color: var(--liam-text);
}
